using Microsoft.Extensions.DependencyInjection;
using SharpClaw.Contracts.Kernel;
using SharpClaw.ModuleSDK;

namespace {{NAMESPACE}};

public sealed class {{CLASS_NAME}} : ISharpClawModule
{
    public ModuleIdentity Identity { get; } = new(
        "{{MODULE_ID}}",
        "{{DISPLAY_NAME}}",
        "{{TOOL_PREFIX}}");

    public void ConfigureServices(IServiceCollection services)
    {
{{TOOL_REGISTRATIONS}}
    }
}

public static class GeneratedTools
{
{{TOOL_DESCRIPTORS}}
}

{{TOOL_HANDLERS}}
